<%- include("./partials/header.ejs") %>

    <div class="container">
        <div class="joke-container">
            <p>
                <%= joke.setup %>
            </p>
            <p>
                <%= joke.delivery %>
            </p>
        </div>
        <div class="form">
            <form action="/getNewJoke" method="POST">
                <div class="form-fields">
                    <select name="category" id="">
                        <option value="Any">Any</option>
                        <option value="Misc">Misc</option>
                        <option value="Programming">Programming</option>
                        <option value="Dark">Dark</option>
                        <option value="Pun">Pun</option>
                        <option value="Spooky">Spooky</option>
                        <option value="Christmas">Christmas</option>
                    </select>
                    <label>
                        <input type="radio" name="lang" value="en" checked> English
                    </label>
                    <label>
                        <input type="radio" name="lang" value="de"> German
                    </label>
                    <label>
                        <input type="radio" name="lang" value="cs">Serbia
                    </label>
                    <input type="submit" value="Get A New Joke">
                </div>
            </form>
        </div>






        <%- include("./partials/footer.ejs") %>